<h1>Utilisateurs</h1>
<a href="/create" class="btn btn-primary mb-2">+ create user</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>
        <a href="" class="btn btn-primary">Modifier</a>
        <a href="" class="btn btn-danger">Supprimer</a>
      </td>
    </tr>
  </tbody>
</table>